* {
  margin: 0;
  padding: 0;
}

body {
  background: #1c2533;
  /*background: rgb(0, 0, 0);*/
}

.app {
  max-width: 100vw;
  color: rgb(255, 255, 255, 0.9);
}

.header {
  display: flex;
  margin: 20px auto;
  max-width: 700px;
  justify-content: space-evenly;
  align-items: center;
}

.header div {
  width: 100%;
  text-align: center;
  border-right: grey solid 1px;
}

.header div:last-of-type {
  border-right: none;
}

.header div p:first-child {
  color: rgb(129, 129, 129);
  font-size: 70%;
}

.header p:last-child {
  font-size: 110%;
}

.header-name {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  align-items: center;
  border-bottom: grey solid 1px;
}

.header-name p:first-child {
  font-size: 200%;
  margin-left: 10px;
}

.header-name p:last-of-type {
  font-size: 100%;
  color: rgb(129, 129, 129);
  padding: 0 40px;
}

.slider-container {
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255, 0.1);
}

.ticker-wrap {
  display: flex;
  animation: ticker 30s infinite linear;
  padding-left: 100%;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-ticker {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100px;
  max-width: 100px;
  padding-bottom: 10px;
}

.slider-ticker p {
  font-size: 80%;
}

.svg-container {
  margin: 20px auto;
  min-height: 350px;
  max-height: 350px;
  max-width: 700px;
}

@media (max-width: 700px) {
  .svg-container {
    min-height: 250px;
    max-height: 250px;
  }
}

.axis path {
  stroke: grey;
  opacity: 1;
}

.axis text {
  fill: white;
}

.time-selector {
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  justify-content: space-evenly;
  margin-bottom: 40px;
  border-bottom: grey solid 1px;
  border-top: grey solid 1px;
}

.time-selector p {
  padding: 5px 10px;

  cursor: pointer;
}

.time-selector p:hover {
  background: rgb(255, 255, 255, 0.1);
}
